<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="studentsinfo3.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="studentsinfo3.Perspective"
            name="RCP Perspective"
            id="studentsInfo3.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="studentsinfo3.StudentsView"
            icon="icons/students.png"
            id="studentsInfo3.view.students"
            name="StudentsView"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="StudentsInfo3.application"
            name="Students Info">
         <property
               name="appName"
               value="Students Info">
         </property>
         <property
               name="windowImages"
               value="icons/alt16.png,icons/alt32.png">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="studentsinfo3.StudentEditor"
            default="false"
            icon="icons/student.gif"
            id="StudentsInfo3.editors.studentseditor"
            name="StudentEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="StudentsInfo3.Add"
            name="AddComand">
      </command>
      <command
            id="StudentsInfo3.Remove"
            name="RemoveComand">
      </command>
      
      
<command 
       id="StudentsInfo3.RadioCommand" 
      name="Sex"> 
  		    <commandParameter 
       			  id="org.eclipse.ui.commands.radioStateParameter" 
       			  name="State" 
         		  optional="true"> 
 		   </commandParameter> 
           <state 
                 id="org.eclipse.ui.commands.radioState"> 
                 <class 
                      class="org.eclipse.ui.handlers.RadioState"> 
                      <parameter 
                          name="default" 
                          value="Option1"> 
                      </parameter> 
                      <parameter 
                          name="persisted" 
                          value="false"> 
                      </parameter> 
                 </class> 
            </state> 
	  </command>
      
      <command
            defaultHandler="studentsinfo3.handlers.AboutStudentHandler"
            id="StudentsInfo3.AboutStudents"
            name="AboutStudentsComand">
      </command>
      <command
            id="StudentsInfo3.Rename_Group"
            name="Rename_Group">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:studentsInfo3.view.students">
     
         <command
               commandId="StudentsInfo3.Add"
               icon="icons/add_student.jpg"
               label="Add"
               style="push">

         </command>

         <command
               commandId="StudentsInfo3.Remove"
               icon="icons/remove_student.png"
               label="Remove"
               style="push">
         </command>
          
         <command
               commandId="StudentsInfo3.Rename_Group"
               label="Rename Group"
               style="push">
         </command>
         
         <separator
               name="StudentsInfo3.separator1"
               visible="true">
               
         </separator>
         
		<command 
            commandId="StudentsInfo3.RadioCommand" 
            label="Option1" 
            style="radio"> 
         <parameter 
               name="org.eclipse.ui.commands.radioStateParameter" 
               value="Option1"> 
         </parameter> 
      </command> 
      
      <command 
            commandId="StudentsInfo3.RadioCommand" 
            label="Option2" 
            style="radio"> 
         <parameter 
               name="org.eclipse.ui.commands.radioStateParameter" 
               value="Option2"> 
         </parameter> 
      </command> 
      

         <separator
               name="StudentsInfo3.separator2"
               visible="true">
         </separator>
         
         <menu
               icon="icons/students.gif"
               label=" Information">
            <command
                  commandId="StudentsInfo3.AboutStudents"
                  icon="icons/student.gif"
                  label="About Selection"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   
   <!--handlers -->
  <extension point="org.eclipse.ui.handlers">
  <handler class="studentsinfo3.handlers.AddHandler"
           commandId="StudentsInfo3.Add">      
     <activeWhen>
        <with variable="selection">
           <iterate ifEmpty="false" operator="and">
              <adapt type="studentsinfo3.model.Group"/>
           </iterate>
        </with>
     </activeWhen>
  </handler>
</extension>  

  <extension point="org.eclipse.ui.handlers">
  <handler class="studentsinfo3.handlers.RemoveHandler"
           commandId="StudentsInfo3.Remove">
     <activeWhen>
        <with variable="selection">
           <iterate ifEmpty="false" operator="and">
              <adapt type="studentsinfo3.model.Student"/>
           </iterate>
        </with>
     </activeWhen>
  </handler>
</extension>   

  <extension point="org.eclipse.ui.handlers">
  <handler class="studentsinfo3.handlers.RenameGroup"
           commandId="StudentsInfo3.Rename_Group">
     <activeWhen>
        <with variable="selection">
           <iterate ifEmpty="false" operator="and">
              <adapt type="studentsinfo3.model.Group"/>
           </iterate>
        </with>
     </activeWhen>
  </handler>
</extension> 
  
  <extension point="org.eclipse.ui.handlers">
  <handler class="studentsinfo3.handlers.TypeRadioHandler"
           commandId="StudentsInfo3.RadioCommand">
     <activeWhen>
        <with variable="selection">
           <iterate ifEmpty="false" operator="and">
              <adapt type="studentsinfo3.model.Student"/>
           </iterate>
        </with>
     </activeWhen>
  </handler>
</extension> 

</plugin>
